@font-face {
  font-family: 'CaviarDreams';
  src: url('caviardreams.ttf');
}

body {
  font-family: 'CaviarDreams',sans-serif;
  background-color : #171717;
  color: #ddd;
}

#messages {
  overflow : auto;
  height : 90vh;
}

#message {
  float : left;
  margin-right : 10px;
  width : 92%;
}
